body {
  background-color: #efefef;
  font-size: 24px;
}

.button-group > * {
  margin: 0;
  border: 1px solid grey;
  border-right: 0;
  border-radius: 0;
}

.button-group :last-child {
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
}

.button-group :first-child {
  border-radius: 5px 0 0 5px;
}

button {
  padding: 10px;
  background-color: white;
  font-size: 1rem;
}

.button-active {
  background-color: #555;
  color: #efefef;
  font-weight: bold;
}
