.controller button {
  width: 4rem;
  height: 4rem;
  margin: 0.7rem 2rem;
  border-radius: 50%;
  font-weight: bolder;
}

.controller-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.y {
  border: 1px solid #a57900;
  background-color: #ffe49c;
  color: #a57900;
}

.x {
  border: 1px solid #0019a5;
  background-color: #a3acfd;
  color: #0019a5;
}

.b {
  border: 1px solid #a50000;
  background-color: #f58d8d;
  color: #a50000;
}

.a {
  border: 1px solid #00a508;
  background-color: #bbfcb2;
  color: #00a508;
}
